@config "../tailwind.config.ts";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary-500: var(--color-primary-500);
  --color-primary-800: var(--color-primary-800);
  --color-secondary-500: var(--color-secondary-500);
  --color-blue: var(--color-blue);
  --color-logout-btn: var(--color-logout-btn);
  --color-navbar-menu: var(--color-navbar-menu);

  --color-dark-1: var(--color-dark-1);
  --color-dark-2: var(--color-dark-2);
  --color-dark-3: var(--color-dark-3);
  --color-dark-4: var(--color-dark-4);
  --color-glassmorphism: var(--color-glassmorphism);

  --color-light-1: var(--color-light-1);
  --color-light-2: var(--color-light-2);
  --color-light-3: var(--color-light-3);
  --color-light-4: var(--color-light-4);

  --color-gray-1: var(--color-gray-1);
}

:root {
  --color-primary-500: #19ab8b;
  --color-primary-800: #148d73;
  --color-secondary-500: #ffb620;

  --color-blue: #0078cc;
  --color-logout-btn: #fc2a2a;
  --color-navbar-menu: rgba(255, 255, 255, 0.1);
  --color-glassmorphism: #dfdffb99;

  --color-dark-1: #ffffff;
  --color-dark-2: #e5e7eb;
  --color-dark-3: #d1d5db;
  --color-dark-4: #9ca3af;

  --color-light-1: #0a0a0a;
  --color-light-2: #1a1a1a;
  --color-light-3: #2e2e2e;
  --color-light-4: #3f3f3f;

  --color-gray-1: #646a72;
}

.dark {
  --color-primary-500: #19d2aa;
  --color-primary-800: #19ab8b;
  --color-secondary-500: #e6a81d;
  --color-blue: #0095f6;
  --color-logout-btn: #ff5a5a;
  --color-navbar-menu: #10101299;
  --color-glassmorphism: #10101299;

  --color-dark-1: #000000;
  --color-dark-2: #121417;
  --color-dark-3: #101012;
  --color-dark-4: #1f1f22;

  --color-light-1: #ffffff;
  --color-light-2: #d1d5db;
  --color-light-3: #9ca3af;
  --color-light-4: #5c5c7b;

  --color-gray-1: #697c89;
}

@layer base {
  * {
    transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease,
      border 0.3s ease;
  }
}

@layer utility {
  .animate-open_close {
    @apply transition duration-300 opacity-100 scale-100 rotate-0;
  }

  .animate-open_close[data-state="open"] {
    @apply opacity-100 scale-100 rotate-0;
  }

  .animate-open_close[data-state="close"] {
    @apply opacity-0 scale-0 rotate-45;
  }
}

@layer components {
  /*//! Bars */
  /*//* Topbar */
  .topbar {
    @apply z-20 fixed w-full bg-dark-2 px-5 py-3 flex items-center justify-between;
  }

  .topbar-link {
    @apply flex items-center gap-1;
  }

  /*//* Bottombar */
  .bottombar {
    @apply md:hidden fixed bottom-0 w-full z-10 bg-glassmorphism backdrop-blur-lg p-4 xs:px-7 rounded-t-3xl;
  }

  .bottombar-container {
    @apply flex items-center justify-between gap-5;
  }

  .bottombar-link {
    @apply flex flex-col items-center gap-1 px-2 py-2.5 flex-1 rounded-lg hover:bg-dark-4;
  }

  /*//! Forms*/
  .form {
    @apply w-full flex flex-col gap-4;
  }

  .form-input {
    @apply focus-visible:!ring-0 w-full focus:outline-0 border-none !bg-dark-4 text-light-2;
  }

  .form-label {
    @apply text-body text-gray-1;
  }

  .form-btn {
    @apply bg-primary-500/80 text-slate-200 cursor-pointer hover:bg-primary-500/60 uppercase;
  }

  .form-msg {
    @apply text-logout-btn;
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
